# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/key.properties
android/.gradle/
android/app/*.jks
android/app/*.keystore
android/gradle/wrapper/gradle-wrapper.jar
*.apk
*.aab

# IDE
.idea/
.vscode/

# macOS
.DS_Store
